name: Naukari Automation Framework

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:   
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
       contents: read
       checks: write
       issues: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Execute Test
        run: mvn clean test -Dsuite=suite -X
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
         name: logs
         path: logs/

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4.4.3
        with:
         name: test-results
         path: |
          test-output/reports/
          target/surefire-reports/
          logs/
  
      - name: Publish Test Report
        if: always()
        uses: dorny/test-reporter@v1
        with:
         name: TestNG Results
         path: target/surefire-reports/junitreports/TEST-*.xml
         reporter: java-junit
